*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulario {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: black;
	border-radius: 5px;
  }

  .formulario h2 {
	text-align: center;
    color: white;
    
  }

  .formulario label {
	font-weight: bold;
    color: white;
  }

  .formulario input,
  .formulario textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}