@import "paqviajes";
@import "contacto";
@import "sobrenosotros";
@import "galeria";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Josefin Sanss', Arial, Helvetica, sans-serif;
	background-color: #2a7bcb;
	height: 100%;
	
}
header{
    .cabecera{
        background-color: #05458eec;
	    top: 0px;
        
        
      
    }
    h1{
        text-align: center;
        color: #f7f7f7;
       
    }
    h3{
        text-align: center;
        color: #f7f7f7;
    }
    nav{
        .colorbarra{
            background-color: #2774cde1;
            display:flex;
            justify-content: center !important;
            align-items: center;
            div{
                &{
                    ul{
                        li{
                            font-size: 1.5rem;
                            color:#edeef8ec ;
                             &:hover{
                                color: black;
                            }
                            

                        
                      }
                        
                    }
                }
            }
        }   
    }
}
main{
    
    .contenedor { 
    background-color: #2a7bcb;
        width: 90%;
        margin: 20px auto;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "alpes img1"
        "cordi img2"
        "footer footer ";
        justify-items: center;
         .alpes{
            article{
                h2{
                    color:whitesmoke;
                }
                p{
                    line-height: 1.5;
                    background-color: skyblue;
                    border-radius: 10px;
                    &:hover{
                        color: rgb(208, 114, 6);
                    }
                }
            }

         }
        
        }
        .cordi{
            article{
                h2{
                    color: whitesmoke;
                }
                p{
                    line-height: 1.5;
                    background-color: skyblue;
                    border-radius: 10px;
                    &:hover{
                        color: #d07206;
                    }
                }
            }
        }
        .footer{
            .titulo{
                color: whitesmoke ;
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px 20px;
                

            }
            article{
                p{
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0520f0;
                    text-align: center;
                    border-radius: 10px;
                    
                    &:hover{
                        color: #f19c00;
                    }
                    
                   
                }
            }
        }
    
        .alpes {
            grid-area: alpes;
            
        }
        
        .img1 {
            grid-area: img1;
        }
        .img2 {
            grid-area: img2;
        }
        
        .cordi {
            grid-area: cordi;
        }
        
        .footer {
            grid-area: footer;
            }
}
footer{
    padding: 10px 20px;
    a{
        &:hover{
            color: black;
        }
     }
}

@media screen and (max-width: 768px) {
 
	
	.contenedor { 
		background-color: #2a7bcb;
		width: 90%;
	    margin: 20px auto;
        display: flex;
        flex-direction: column;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas: 
		"alpes alpes"
		"img1  img1"
		"cordi cordi"
		"img2  img2"
		"footer footer";

        .alpes {
            grid-area: alpes;
            
        }
        
        .img1 {
            grid-area: img1;
            width: 100%;
        }
        .img2 {
            grid-area: img2;
            width: 100%;
            margin-bottom: 5px;

        }
        
        .cordi {
            grid-area: cordi;
        }
        
        .footer {
            grid-area: footer;
            text-align: center;
            padding: 10px 20px;
            }
	    
		
		
		}
	
	}