<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Viajes Group es una página especializada en ofrecer experiencias de viaje inolvidables.Para poder
                sacar los mejores paquetes de viajes a los mejores precios.">
    <meta name="keywords"  content="Viajes, Destinos, Cordillera, Alpes, Andes, Hotel, Pasajes, Paquetes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../img/favicon.ico">
    <title>Viajes Group|Paquete de Viajes</title>
    
</head>
<body>
    <header>
      <div class="cabecera">
        <h1>Viajes Group <img src="../img/favicon.ico" alt=""></h1>  
         <h3>Paquete de Viajes</h3>
         <nav class="navbar navbar-expand-lg colorbarra ">
          <div class="container-fluid colorbarra ">
       <a class="navbar-brand " href="#"></a>
       <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon "></span>
       </button>
       <div class="collapse navbar-collapse colorbarra " id="navbarNav">
         <ul class="navbar-nav ">
           <li class="nav-item letra">
             <a class="nav-link active " aria-current="page" href="../index.html">Informacion</a>
           </li>
           <li class="nav-item letra ">
             <a class="nav-link" href="#">Paquete de viajes</a>
           </li>
           <li class="nav-item letra">
             <a class="nav-link" href="./contacto.html">Contactenos</a>
           </li>
           <li class="nav-item letra ">
             <a class="nav-link" href="./galeria.html">Galeria</a>
           </li>
           <li class="nav-item letra ">
             <a class="nav-link " href="./sobre+nosotros.html">Sobre Nosotros</a>
           </li>
         </ul>
       </div>
     </div>
   </nav>
      </div>
      
    </header>
<main class="pakviajes">
    <section class="pack-s">
        <article>
         <h3> Comprá Paquetes a Suiza</h3>
         <p> PAQUETES TURÍSTICOS a Suiza que estás buscando para tus vacaciones te esperan en VIAJESGROUP. 
             Descubrí las mejores promociones para conocer este país con excelentes descuentos y recorre sus ciudades y atractivos imperdibles.
             Con los PAQUETES DE VIAJE a Suiza vas a subir al avión con todo listo para disfrutar tu viaje. 
             Hacé tu reserva ya mismo, aprovechá nuestras ofertas y creá recuerdos que vas a guardar toda la vida. 
             Los paquetes de viaje a Suiza simples incluyen el vuelo + hotel, y cubren tus necesidades básicas. 
             Pero si querés que tus vacaciones sean realmente especiales, agregá otros productos para complementar tu estadía. 
             Una excelente opción es alquilar un auto, así tenés más libertad de recorrer tus destinos sin los límites del transporte público. 
             Si viajás a lugares con varios destinos cercanos o querés conocer las ciudades a tu propio ritmo, este producto es para vos.
             También agregá las actividades que querés hacer durante tus vacaciones para no perderte los mejores paseos y tours en Suiza. 
             O sumá un seguro de viajes para que cualquier inconveniente no arruine tu experiencia. 
             Lo mejor de armar tus vacaciones dentro de un paquete a Suiza es que si comprás todo junto tenés EXCELENTES DESCUENTOS. 
             Y si querés un tipo de viaje a tu estilo, podés agregar filtros a tu búsqueda. 
             Así vas a ajustar tus paquetes de viaje a Suiza para ver solo los hoteles de tu categoría preferida en estrellas, 
             o los que tengan la duración que esperás en noches. Incluso podés ver paquetes para un mes específico cuando querés viajar. 
             Aprovechá ya mismo las promociones que tenemos para tus vacaciones. 
             Reservá ahora tus PAQUETES TURÍSTICOS a Suiza y disfrutá un viaje inolvidable.</p>
             
         </article>
         <div>
          <img src="../img/be91717ca3c149ee372eadf20863638b.png" alt="">
         </div>
     </section>
     <section class="pack-a">
         <article>
          <h3> Paquetes a San Martín de los Andes</h3>
          <p> Los paquetes a San Martín de los Andes que buscás para tus viajes, 
             te esperan en Despegar. No dejés pasar un minuto más, 
             comprá ya mismo tu paquete turístico BARATO y pasá unos días fantásticos en San Martín de los Andes. 
             Con nuestros PAQUETES TURÍSTICOS todo lo que estabas buscando para tus vacaciones está en un solo lugar. 
             Encontrá lo que necesitás para hacer realidad el viaje de tus sueños. Reservá ya tus viajes y disfrutá increíbles descuentos.
              Descubrí todos los atractivos de San Martín de los Andes viajando con nosotros. Visitá sus lugares de interés imperdibles y disfrutá lo que este destino puede ofrecerte. 
              Si siempre viajaste por tu cuenta o nunca hiciste un viaje muy largo o complejo, 
              capaz te preguntes: ¿Qué es un PAQUETE DE VIAJE? o al menos, ¿qué es lo que incluye?. 
              Son la mejor forma de tener tus vacaciones listas antes de salir de tu casa. 
              En un paquete simple están incluidos los pasajes aéreos y el hotel u hoteles donde hospedarte. 
              Pero también podés agregar más productos para no dejar nada a la suerte. 
              Por ejemplo sumá un alquiler de autos para recorrer San Martín de los Andes con la mayor libertad o tours y paseos que quieras hacer en tu visita. 
              Incluso podés contratar un seguro para tener cualquier complicación cubierta y que no te arruine las vacaciones. 
              Y cuando comprás todo junto en un paquete lo hacés a un precio promocional, 
              con muchos descuentos y más económico que cualquier otra opción. Acá vas a encontrar los mejores paquetes turísticos a San Martín de los Andes. 
              Y si buscás algo que se ajuste a tus necesidades específicas, podés usar nuestros filtros por calidad del hotel en estrellas, duración en noches o por el mes en que querés viajar. 
              Tus próximas vacaciones están a la vuelta de la esquina. Prepárate para vivir una experiencia única a tu manera y reservá ya mismo tus paquetes a San Martín de los Andes.
             Pensás viajar a San Martín de los Andes y no sabés qué visitar y hacer. En Despegar tenemos nuestra guía de viaje a San Martín de los Andes con los mejores recorridos y actividades según estación del año, gastronomía local, 
             mejores barrios para alojarte y mucho más.</p>
               
          </article>
          <div>
            <img src="../img/despe.png"  alt="">
          </div>
      </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>   

<footer>
  <a href="#top">Ir al Top</a>
  </footer>
</body>
</html>