<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="./img/favicon.ico">
    <title>Nosotros</title>
</head>
<body >
    <header>
       <h1>Sobre nosotros</h1>
       <h3>nuestra experiencia</h3>
        <nav class="navbar navbar-expand-lg colorbarra ">
            <div class="container-fluid colorbarra ">
              <a class="navbar-brand " href="#"><img src="./img/favicon.ico" alt=""></a>
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>
              <div class="collapse navbar-collapse colorbarra " id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item letra">
                    <a class="nav-link active " aria-current="page" href="../index.html">Informacion</a>
                  </li>
                  <li class="nav-item letra ">
                    <a class="nav-link" href="./paqviajes.html">Paquete de viajes</a>
                  </li>
                  <li class="nav-item letra">
                    <a class="nav-link" href="./contacto.html">Contactos</a>
                  </li>
                  <li class="nav-item letra ">
                    <a class="nav-link" href="./galeria.html">Galeria</a>
                  </li>
                  <li class="nav-item letra ">
                    <a class="nav-link " href="#">Sobre Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main >
        <div >
            <h2>Viajes Group: La elección perfecta para tus viajes</h2>
            <p>
              Con más de 10 años de experiencia en la industria de los viajes, en Viajes Group sabemos cómo hacer que cada experiencia sea inolvidable.
              Nuestro compromiso es brindarte un servicio excepcional y garantizarte momentos inolvidables en cada uno de tus destinos.
            </p>
            <p>
              ¿Por qué elegirnos? Porque en Viajes Group nos apasiona lo que hacemos y nos esforzamos por superar tus expectativas en cada detalle.
              Contamos con un equipo de expertos en viajes que se encargará de personalizar tu experiencia, adaptándola a tus necesidades y preferencias.
            </p>
            <p>
              Ya sea que desees explorar destinos exóticos, sumergirte en la cultura local o disfrutar de unas vacaciones relajantes en un paraíso tropical,
              en Viajes Group tenemos el conocimiento y la experiencia necesarios para hacer realidad tus sueños de viaje.
            </p>
            <p>
              Confía en nosotros para planificar tu próximo viaje y descubre por qué miles de viajeros eligen Viajes Group año tras año.
              Permítenos ser tu guía en la aventura de descubrir nuevos horizontes y crear recuerdos que perdurarán toda la vida.
            </p>
            <p>
              ¡Viajes Group, la elección inteligente para tus viajes inolvidables!
            </p>
          </div>
        </main>
        <footer>
            <p>Todos los derechos reservados para Viajesgroup marca registrada de Plaza</p>
        </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    </body>
</html>